@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
.wrapper{
    background-color: #F8EBE9;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel{
    background-color:#FBFBFB ;
    width: 650px;
    height: 450px;
    display: flex;
}
.panel__img{
    background-image: url(./imegs/background.jpg);
    width: 40%;
    height: 100%;
    background-size: cover;
    display: flex;
    padding: 20px;
   
}

.background__img{
    width: 100%;
    height: 100%;
}
.panel__back{
    display: flex;

}
.back__img{
    width: 15px;
    height: 15px;
    padding: 2px;
}
.back__title{
    font-family:montserrat , sans-serif ;
    font-size:15px ;
    color: #6782A3;
    justify-content: center;
    align-items: center;    
}
.back__title:hover{
    color: black;
}
.panel__content{
    background-color: #FFFFFF;
    width: 60%;
    height: 100%;
}
.panel__content-title{
    display: flex;
    justify-content: end;
    padding: 20px;
   
}
.spain{
    color: black;
    padding-left: 10px;
    padding-right: 10px; 
    font-family: sans-serif;
    font-size: 8px;
    }
    .spain:hover{
        color: black;
    }
    .netherlands{
        color: #B3B3B3;
        padding-left: 10px;
        padding-right: 10px; 
        font-family: sans-serif;
        font-size: 8px;
        }
        .netherlands:hover{
            color: black;
        }
        .france{
            color: #B3B3B3;
            padding-left: 10px;
            padding-right: 10px; 
            font-family: sans-serif;
            font-size: 8px;
            }
            .france:hover{
                color: black;
            }
            .panel__content-medium{
                display: flex;
                padding-top: 30px;
                padding-left: 50px;
            }
            .medium{
                font-family:Simplified Arabic;
                font-size: 40px;
                
            }
            .dash{
                padding-left: 230px;
                padding-top: 0px;
                
                
            }
            .dash__one{
                background-color: black;
                width: 60px;
                height: 2px;
            }
            .panel__medium
            {
                display: flex;
            }
            .medium__two{
                font-family:Simplified Arabic ;
                font-size: 13px;


            }
            .panel__content-medium__two{
                padding-top: 10px;
                padding-left: 50px;
                
            }
            .img{
                width: 150px;
                height: 90px;
            }
            .panel__content__low-img{
                padding-bottom: 50px;
                padding-left: 50px; 
                font-size: 13px;
               
            }
            .video{
                display: flex;
                padding-top: 30px;
                padding-left: 50px;
                
            }
            
            
            .img__play{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #dbdbdb;
                
            }
            .low{
                font-family: sans-serif;
                font-size:13px ;
            }
            .video__content{
                display: flex;
                color: black;
             
              align-items: center;
            }
            .img__arrow-forward{
                font-size: 5px;
            }
            .text{
                padding-left: 180px;
                padding-bottom: 300px;

            }













